name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: compile with gcc
      run: gcc helloworld.c
    - uses: actions/upload-artifact@v2
    - name: store compilation result
      with:
          name: helloworld
          path: a.out
