name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: compile with gcc
      run: gcc helloworld.c
    - name: store compilation result
      uses: actions/upload-artifact@v2
      with:
          name: helloworld
          path: a.out
          env-url: outurl
    - name: Send mail
      if: always()
      uses: dawidd6/action-send-mail@v2
      with:
        # mail server settings
        server_address: smtp.gmail.com
        server_port: 465
        # user credentials
        username: ${{ secrets.EMAIL_USERNAME }}
        password: ${{ secrets.EMAIL_PASSWORD }}
        # email subject
        subject: ${{ github.job }} job of ${{ github.repository }} has ${{ job.status }}
        # email body as text
        html_body: ${{ github.job }} job in worflow ${{ github.workflow }} of ${{ github.repository }} has ${{ job.status }} </br> output: "${{ env.outurl }}"
        # comma-separated string, send email to
        to: ferrywu@arimacomm.com.tw
        # from email name
        from: Ferry Wu
